//@media screen and (max-width: $responsive-width) {}
$responsive-width: 900px;
$color-green: #39c626;
$dark-grey: #333;
$med-dark-grey: #444;
$background-grey: #eee;

.buy-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/rincon-urbano.appspot.com/o/web-images%2FBackground%20graffiti%201%20(2).png?alt=media&token=bfc9b752-0e57-4bdc-90b4-a1d383a7c58a');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  max-width: 100vw;

  h1 {
    color: white;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    margin: 5vh 0 0 0;
    text-align: center;
    @media screen and (max-width: $responsive-width) {
      font-size: 15vw;
      margin-bottom: 2vh;
      margin-top: 2vh;
      line-height: 1;
    }
  }
  .text-description-containter {
    background-color: rgba(250, 250, 250, 0.1);
    margin-top: 0.5vh;
    padding: 1vw 2vw;
    h3 {
      font-size: 1.2em;
      margin: 0;
      font-weight: 400;
      color: white;
      text-align: center;
      max-width: 70vw;
      @media screen and (max-width: $responsive-width) {
        font-size: 2vh;
        max-width: 90vw;
        margin: 0;
        padding: 2vh 0;
      }
    }
  }
  .loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }
  .packs-list-container {
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    @media screen and (max-width: $responsive-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
      gap: 0.5em 0.5em;
      margin-bottom: 2vh;
    }
    .pack-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2% 0%;
      background-color: #555;
      border-radius: 10px;
      min-width: 12vw;
      margin: 1%;
      min-width: 14vw;
      @media screen and (max-width: $responsive-width) {
        padding: 20px 0;
        min-width: 45vw;
      }
      .streams-qty {
        font-size: 1.1em;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
      }
      .streams-price {
        font-size: 3.2em;
        color: white;
        font-weight: 900;
      }
      .individual-stream-price {
        color: white;
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 50px;
        @media screen and (max-width: $responsive-width) {
          margin-bottom: 20px;
          font-size: 1em;
        }
      }
      button {
        font-family: 'Source Sans Pro', 'Gothic A1', 'Montserrat', Arial;
        font-size: 1.1em;
        text-align: center;
        font-weight: 400;
        background: $color-green;
        border: none;
        color: #fff;
        overflow: hidden;
        border-radius: 5px;
        padding: 0.5vh 1vw;
        margin: 0 0.5vh;
        cursor: pointer;
      }
    }
  }
}
