.create-pack-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pack-create-form {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
  }
}
